[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "core"]
	path = submodules/core
	url = https://github.com/libmb/core.git
[submodule "real_float"]
	path = submodules/real_float
	url = https://github.com/libmb/real_float.git
[submodule "colorizer_basic"]
	path = submodules/colorizer_basic
	url = https://github.com/libmb/colorizer_basic.git
[submodule "gui_fps"]
	path = submodules/gui_fps
	url = https://github.com/libmb/gui_fps.git
